$unified-select-gutter: 12px !default;
$unified-select-margin-bottom: 15px !default;
$unified-select-height: 32px !default;

$unified-select-glyph-width: 8px !default;
$unified-select-glyph-height: 8px !default;
$unified-select-glyph-border-radius: 50% !default;

$unified-select-transitions: true !default;