{% extends "layouts/base.twig" %}

{% block content %}
	<form action="">
		<div class="select" data-select-filter-placeholder="Filteren">
			<div class="select-field">
				<select name="" id="">
					<option disabled>Disabled state for everyone</option>
					{% for i in 0..10 %}
					<option>Item {{ loop.index }}</option>
					{% endfor %}
				</select>
				<div class="select-field-value"></div>
				<div class="select-field-glyph-wrapper">
					<span class="select-field-glyph">X</span>
				</div>				
			</div>
		</div>

{# 
		<div class="select select--native">
			<div class="select-field">
				<div class="select-field-value"></div>
				<div class="select-field-glyph-wrapper">
					<span class="select-field-glyph">X</span>
				</div>				
				<select name="" id="">
					<option disabled>Disabled state for everyone</option>
					<option>Red 2</option>
					<option>White</option>
					<option>Blue</option>
				</select>
			</div>
		</div>


		<input type="reset"> #}
	</form>
	

{% endblock %}