@mixin unified-select-style(
	$selector: null,
	$background-color: false,
	$background-color--hover: false,
	$background-color--focus: false,
	$color: false,
	$color--hover: false,
	$color--focus: false,
	$border: false,
	$border-color--hover: false,
	$border-color--focus: false,
	$border-radius: false,
	$box-shadow: false,
	$box-shadow--hover: false,
	$box-shadow--focus: false,
	$glyph-color: false,
	$glyph-color--hover: false,
	$glyph-color--focus: false
) {
	@if $selector != false {
		.select {
			&#{$selector} {
				&.__select--ready {
					@if $background-color != false {
						background-color: $background-color;
					}

					@if $border != false {
						border: $border;
					}

					@if $border-radius != false {
						border-radius: $border-radius;
					}

					@if $box-shadow != false {
						box-shadow: $box-shadow;
					}

					.select-value {
						@if $color != false {
							color: $color;
						}
					}

					#{$unified-select-glyph-selector} {
						@if $glyph-color != false {
							color: $glyph-color;
							fill: $glyph-color;
						}
					}

					.no-touchevents &:hover {
						@if $background-color--hover != false {
							background-color: $background-color--hover;
						}

						@if $border-color--hover != false {
							border: $border-color--hover;
						}

						@if $box-shadow--hover != false {
							box-shadow: $box-shadow--hover;
						}

						.select-value {
							@if $color--hover != false {
								color: $color--hover;
							}
						}

						#{$unified-select-glyph-selector} {
							@if $glyph-color--hover != false {
								color: $glyph-color--hover;
								fill: $glyph-color--hover;
							}
						}
					}
				}

				&.__select--focus {
					&,
					.no-touchevents &:hover {
						@if $background-color--focus != false {
							background-color: $background-color--focus;
						}

						@if $border-color--focus != false {
							border-color: $border-color--focus;
						}

						@if $box-shadow--focus != false {
							box-shadow: $box-shadow--focus;
						}

						.select-value {
							@if $color--focus != false {
								color: $color--focus;
							}
						}

						#{$unified-select-glyph-selector} {
							@if $glyph-color--focus != false {
								color: $glyph-color--focus;
								fill: $glyph-color--focus;
							}
						}
					}
				}
			}
		}
	}
}